h1 {
  color: #FFDF00;
  padding: 20px;
  font-family: verdana;
}

body {
   font-family: sans-serif;
   background-color: #777;
}

a {
  color: #2E4053;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E4053;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #F88697;
}

p {
  color: #FBFDFC;
  padding: 10px;
}

div.head {
  width: auto;
  height: 432px;
  padding: 20px;
  margin: 0;
  background-image: url("mountain_landscape.jpg");
  background-repeat: no-repeat;
}

div.paragraph {
  width: auto;
  padding: 20px;
  margin: 0;
}
